/* login.html */
body {
    font-family: 'MicroSoft YaHei';
    background-color: #f2f3f5;
}
.main_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.jpg);
    background-size: 100% 100%;
}
.header{
    margin: 20px auto 0;
    width: 1200px;
    height: 60px;
    overflow: hidden;
}
.header .logo{
    float: left;
}
.header .copyright{
    float: right;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    text-align: right;
    line-height: 20px;
}
.login_form_con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px,-155px);
    width: 400px;
    height: 310px;
    background-color: #edeff0;
}
.login_title{
    height: 60px;
    background: url(../images/login_title.png) center center no-repeat #fff;
}
.login_form{
    position: relative;
}
.login_form .icon-user{
    position: absolute;
    top: 7px;
    left: 44px;
    font-size: 16px;
    color: #999;
}
.login_form .icon-key{
    position: absolute;
    top: 73px;
    left: 44px;
    font-size: 18px;
    color: #999;
}
.input_txt,.input_password,.input_sub{
    display: block;
    margin: 27px auto 0;
    padding: 0;
    width: 334px;
    height: 37px;
    border: 1px solid #ddd;
    text-indent: 40px;
    outline: none;
}
.input_sub{
    margin-top: 40px;
    height: 42px;
    background-color: #19B9E7;
    font-size: 18px;
    color: #fff;
    text-indent: 0;
    letter-spacing: 5px;
    cursor: pointer;
}
.input_sub:hover{
    background-color: #08a0cc;
}

/* index.html */
.sider{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    background-color: #323745;
}
.sider .logo{
    display: block;
    height: 65px;
    background-color: #242732;
    overflow: hidden;
}
.sider .logo img{
    display: block;
    margin: 10px auto;
}
.user_info{
    padding: 15px 38px;
    height: 80px;
    border-bottom: 1px solid #5a5e6b;
    font-size: 15px;
}
.user_info img{
    float: left;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user_info span{
    color: #fff;
}
.user_info b{
    font-size: 14px;
    color: #adafb5;
}
.menu .level01.active a{
    background-color: #1378f0;
    color: #fff;
} 
.menu .level01.active i{
    color: #fff;
}
.menu .level01 a:hover{
    background-color: #1378f0;
    color: #fff;
} 
.menu .level01 a:hover i{
    color: #fff;
}
.menu .level01{
    height: 55px;
    line-height: 55px;
}
.level01 a{
    display: block;
    padding-left: 38px;
    height: 55px;
    font-size: 15px;
    color: #adafb5;
    overflow: hidden;
}
.level01 a i{
    font-size: 26px;
    margin-right: 15px;
    color: #61646f;
}
.level01 a .icon-arrow-down-l{
    float: right;
    margin-right: 15px;
    font-size: 19px;
    color: #adafb5;
    transform: rotate(90deg);
    transition: all 500ms ease;
}
.level01 a .rotate0{
    transform: rotate(0deg);
}
.level02{
    background-color: #242732;
    display: none;
}
.level02 li{
    height: 45px;
    line-height: 45px;
}
.level02 a:hover{
    background-color: #1378f0;
    color: #fff;
}
.level02 li a{
    display: block;
    padding-left: 78px;
    padding-bottom: 20px;
    height: 45px;
    font-size: 15px;
    color: #adafb5;
}
.level02 .active a{
    color: #ffae00;
}
.level02 li:last-child a{
    margin-bottom: 0;
}
.header_bar{
    position: fixed;
    left: 280px;
    top: 0;
    right: 0;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
}
.header_bar .search_form{
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    width:218px;
    height:65px;
    border:1px solid #ddd;
    background-color: #f2f3f5;
}
.header_bar .user_center_link{
    float: right;
    margin-right: 20px;
}
.header_bar .user_center_link a{
    color: #999;
    font-size: 15px;
}
.header_bar .user_center_link a:hover{
    color: #ffae00;
}
.header_bar .user_center_link img{
    margin: 0 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header_bar .user_center_link .icon-quit{
    font-size: 17px;
}
.main{
    position: fixed;
    top: 65px;
    left: 280px;
    bottom: 0;
    right: 0;
    background-color: #f2f3f5;
}

/* main.html */
.common_title{
    margin-top: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e7e7e9;
    font-size: 16px;
    color: #333;
    line-height: 50px;
    text-indent: 15px;
}
.common_con{
    padding-top: 25px;
    border: 1px solid #e7e7e9;
    border-top: 0;
    background-color: #fff;
}
.form-group{
    margin-bottom: 25px;
}
.form-group label{
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.form-group input{
    font-size: 16px;
    color: #000;
}
.user_pic{
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
}
/* article_category.html */
.mp20{
    margin-top: 25px;
}
.common_con table th,
.common_con table td,
.common_con a{
    font-size: 16px;
}
.common_con table td a{
    font-size: 13px;
}
.form-inline select{
    font-size: 15px;
}
.form-inline button{
    font-size: 14px;
}
/* article_edit.html */
.article_cover{
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}